<h1>EJS</h1>


<!-- EJS example -->
<% let theArray = [1, 2, 3];%>

<%theArray.forEach(function(number) { %>
    <h1><%- number; %></h1>
<% })%>


<!-- Delete this CSS when starting development with specifications. -->
<style>
    .order-form {
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }

    .form-element {
        margin-top: 20px;
    }

    .form-element-wrapper {
        display: flex;
        flex-direction: row;
    }
</style>

<form class="order-form" action="/" method="POST">

    <div>
        <label for="orderFormCompanyLogo">Your company's logo</label>

        <input type="file" id="orderFormCompanyLogo" name="comapnyLogo" class="form-element" >
    </div>

    <div>
        <label for="orderFormPersonalPhoto">Personal photo</label>

        <input type="file" id="orderFormPersonalPhoto" name="personalPhoto" class="form-element" >
    </div>

    <div>
        <label for="orderFormCoverPhoto">Cover photo</label>

        <input type="file" id="orderFormPersonalPhoto" name="coverPhoto" class="form-element" >
    </div>

    <div>
        <label for="orderFormPersonFirstName">First name</label>

        <input type="text" id="orderFormPersoFirstName" name="personFirstName" class="form-element" >
    </div>

    <div>
        <label for="orderFormPersonLastName">Last name</label>

        <input type="text" id="orderFormPersonLastName" name="personLastName" class="form-element" >
    </div>

    <div>
        <label for="orderFormJobTitle">Your job title</label>

        <input type="text" id="orderFormJobTitle" name="jobTitle" class="form-element" >
    </div>

    <div>
        <label for="orderFormPhoneNumber">Phone number</label>

        <input type="text" id="orderFormPhoneNumber" name="phoneNumber" class="form-element" >
    </div>

    <div>
        <label for="orderFormEmail">Your business email</label>

        <input type="email" id="orderFormEmail" name="businessEmail" class="form-element" >
    </div>


    <div>
        <label for="orderFormPersonalWebsite">Personal website</label>

        <input type="url" id="orderFormPersonalWebsite" name="personalWebsite" class="form-element" >
    </div>

    <div>
        <label for="orderFormPortfolioWebsite">Portfolio</label>

        <input type="url" id="orderFormPortfolio" name="portfolioWebsite" class="form-element" >
    </div>

    <div>
        <label for="orderFormFacebookProfile">Facebook business profile</label>

        <input type="url" id="orderFormFacebook" name="facebookProfile" class="form-element" >
    </div>

    <div>
        <label for="orderFormLinkedin">Linkedin</label>

        <input type="url" id="orderFormLinkedin" name="linkedinProfile" class="form-element" >
    </div>

    <br>
    <button class="form-element" type="submit">Submit</button>
</form>